extends layout
block content
    div.container-fluid
        div#queue
            div.item.command
                div.input
                    div.prompt
                        i.fa.fa-refresh.fa-spin
                    div.data
                div.output
                    div.data Starting python...
            div#commandline.item
                div.input
                    div.prompt
                        i.fa.fa-chevron-right
                    div.data
                        input.form-control(placeholder="Type a command")

    div.templates
        div.item.command
            div.input
                div.prompt
                    i.fa.fa-refresh.fa-spin
                div.data
            div.output
                div.data








