extends layout
block content
    div.container-fluid
        div#queue
        div#commandline
            input.form-control(placeholder="Type a command")

    div.templates
        li.output
            div.data
        li.input
            div.prompt
                i.fa.fa-chevron-right
            div.data
        li.wait
            i.fa.fa-refresh.fa-spin







